.header {
  text-align: center;
  background-color: rgba(185, 24, 3, 0.616);
  font-family: "Rowdies", cursive;
  padding: 13px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.397);
}

.header > h2{
  font-size: 26px;
}

